<div class="section home-section" id="section-home">
	<div id='stars'></div>
	<div id='stars2'></div>
	<div id='stars3'></div>
	<div class="fp-row">

		<p class="welcome wow fadeInDown animated" data-wow-duration="10000ms" data-wow-delay="1300ms">{{greetings}}</p>
		<h1 class="wow slideInRight animated" data-wow-duration="2000ms" data-wow-delay="1600ms">{{title}}</h1>
		<p class="tagline wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="1900ms">{{tagLine}}</p>


		<a [routerLink]="nextPage" class="home-btn waves-effect waves-light wow fadeInUp animated" data-wow-duration="2000ms" data-wow-delay="2200ms">
			<md-icon>keyboard_arrow_down</md-icon>
		</a>


	</div>
</div>