<div class="section profile-section" id="section-profile">
  <div class="fp-row">
    <div class="container">
      <div class="row">
        <div class="clearfix about-inner">

          <div class="col-sm-12 col-md-6">
            <md-card class="profile-card">
              <div class="col-sm-12 col-md-5">
                <img md-card-image src="../../../assets/img/person.jpg" alt="Profile Photo" />
                <md-card-header class="card-header">
                  <md-card-title>Mohammed Labeeb</md-card-title>
                  <md-card-subtitle>27 Years</md-card-subtitle>
                </md-card-header>
              </div>
              <div class="col-sm-12 col-md-7">
                <md-card-content>
                  <ul class="person-info">

                    <li>
                      <span class="icon-left"><md-icon>location_on</md-icon></span>
                      <span class="info">kerala,India</span>
                    </li>

                    <li>
                      <span class="icon-left"><md-icon>phone</md-icon></span>
                      <span class="info"><a href="tel:919633407675">+91 9633 40 76 75</a></span>
                    </li>

                    <li>
                      <span class="icon-left"><md-icon>email</md-icon></span>
                      <span class="info"><a href="mailto:mohammedlabeeb@gmail.com">mohammedlabeeb@gmail.com</a></span>
                    </li>

                    <li>
                      <span class="icon-left"><md-icon>email</md-icon></span>
                      <span class="info"><a href="mailto:labeeb1604@gmail.com">labeeb1604@gmail.com</a></span>
                    </li>

                    <li>
                      <span class="icon-left"><i class="fa fa-skype" aria-hidden="true"></i></span>
                      <span class="info">mohammed.labeeb</span>
                    </li>

                  </ul>

                </md-card-content>
                <md-card-actions>
                  <div class="about-social">
                    <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-pinterest"></i></a>
                  </div>
                </md-card-actions>
              </div>
            </md-card>

          </div>
          <!-- about me description -->
          <div class="col-md-6 col-sm-12 person-about">
            <md-card class="story-card">
              <md-card-header class="card-header">
                <md-card-title><h3>My Story</h3></md-card-title>
              </md-card-header>
              <md-card-content>
                <p>Hello, I’m a UI/UX Designer &amp; Front End Developer from Victoria, Australia. I hold a master degree of
                  Web Design from the World University. <br> And scrambled it to make a type specimen book. It has survived
                  not only five centuries And scrambled it to make a type specimen book. It has survived
                  not only five centuries</p>
              </md-card-content>
              <md-card-actions class="row">
                  <div class="col col-md-6">
                      <button class="prof-button">My Resume</button>                      
                  </div>
                  <div class="col col-md-6">
                      <button class="prof-button">Hire Me</button>                      
                  </div>
                </md-card-actions>
            </md-card>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>